html {
    height: 100%;
}

.main {
    height: calc(100% - 99px);
}
.body{
    color: white;
    margin: 0;
    height: 100%;
}


.header {
    width: 100%;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto;
}

.header-name{
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
    font-size: 30px;
}

.header-social {
    list-style: none;
    width: 8em;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

.header-social-item {
    width: 2.5em;
    text-align: center;
    transition: all 0.4s;
}

.header-social-item img {
    width: 50px;
    filter: invert(100%);
}

.header-social-item:hover {
    transform: scale(110%);
}

.principal {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 100%;
}

.texto {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em
}

.background {
    background-image: linear-gradient(to right,#48cae4, #0077b6);
}
